* {
    margin: 0 auto;
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif
}

.vturb {
    width: 100vw;
    margin-top: 3rem;

    @media (min-width: 768px){
        width: 60vw;
    }
}

.watching-now {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #7700FF;
    font-weight: 700;
    margin: 3rem 0;
}

#viewer-count {
    font-size: 20px;
    color: white;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
}

footer h4 {
    background-color: white;
}

.loading-icon {
    font-size: 24px;
    color: #333;
    display: inline-block;
    animation: spin 6s linear infinite;
    margin-top: 0.5rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .info-box {
    width: 80%;
    background-color: #7700FF;
    padding: 1rem 0;
    border: 1px solid #7700FF;
    border-radius: 10px;
  }